<?xml version="1.0"?>
<!--
/**
 * Copyright © Nimasystems (info@nimasystems.com). All rights reserved.
 * Please visit Nimasystems.com for license details
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nimasystems_add_multiple_products>
            <settings>
                <enabled>1</enabled>
            </settings>
            <product_list_view>
                <jquery_container_selector>.product.actions</jquery_container_selector>
            </product_list_view>
            <product_view>
                <jquery_container_selector>.product-add-form</jquery_container_selector>
            </product_view>
        </nimasystems_add_multiple_products>
    </default>
</config>
